## class 8 string operation

### string + *

In [4]:
t = 'hel lo'
print(t)
ttt = t*3
print(ttt)

h = 'python'
th = t + h
print(th)

hel lo
hel lohel lohel lo
hel lopython

In [6]:
tl = 'hell o'
len(tl)

6

## string operation

In [16]:
tang = 'a b c d e'
tang

'a b c d e'

In [17]:
ts = tang.split()
print(ts)
print(type(ts))

## different decollator
tsb = tang.split(',')
print(tsb)
print(type(tsb))

['a', 'b', 'c', 'd', 'e']
<class 'list'>
['a b c d e']
<class 'list'>

 #### Join Sting (AAA)
 * New define: XXX = ' '
 * XXX.join(AAA)

In [25]:
ts = 'a,b,c,d,e'
print(ts)
tj = ''
tj = tj.join(ts)
print(tj)

a,b,c,d,e
a,b,c,d,e

### subsition/ Replace
* new define/ give new value
* YY = XX.replace('old','new')

In [27]:
th
print(th)
th_sub = th.replace('python', 'world')
th_sub

hel lopython

'hel loworld'

### upper/lower case
* XXX.upper()
* XXX.lower()

In [55]:
case = 'Hello World' 
case

'Hello World'

In [56]:
case.upper()

'HELLO WORLD'

In [57]:
case.lower()

'hello world'

### remove blank
* XXX.strip
* XXX.lstrip
* XXX.rstrip

In [28]:
blank = '    hello world       '
blank

'    hello world       '

In [29]:
all = blank.strip()
left = blank.lstrip()
right = blank.rstrip()
print(all)
print(left)
print(right)

hello world
hello world
    hello world

### format
* '{} {} {}'.format('T','C','L')

In [30]:
'{} {} {}'.format('T','C','L')

'T C L'

In [34]:
'{2}_{1}_{0}'.format('T','C','L')

'L_C_T'

In [67]:
'{T} {C}-{L}'.format(T=6, C= 66,L = 666)

'6 66-666'